APP_PORT=8091
APP_ORIGIN=http://localhost:8091
FACE_SERVICE_URL=http://face-service:5001
FACE_MATCH_THRESHOLD=0.50
FACE_AMBIGUITY_MARGIN=0.08
FACE_DUPLICATE_THRESHOLD=0.55
FACE_MIN_QUALITY=0.55
FACE_REQUEST_TIMEOUT_MS=5000
FACE_LIVENESS_ENABLED=true
FACE_LIVENESS_CHALLENGE_TTL_SECONDS=20
FACE_DEBUG=false
